<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span class="span">Flight Details</span>
  </mat-toolbar-row>  
  <div class="example-button-row">
  </div>
</mat-toolbar>
<br>
<input type="text" #txt class="textBox">
<button mat-raised-button color="primary" (click)="textBoxValue(txt)">Enter key</button>
<div class="homePage"> 
   <p>
   Arrival Flight Number:  <input type="text" class="textBox2" #txt1>
   <button mat-raised-button color="primary" (click)="arFliNum(txt1)">submit</button>  
   </p>
  
   <p>
    Departure Flight Number:  <input type="text2" class="textBox2" #txt2>
    <button mat-raised-button color="primary" (click)="deFliNum(txt2)">submit</button>  
   </p>
   
  <p>
    Arrival Date:   {{this.arrivaDate}} 
  </p>
  <p>
    Depture Date: {{this.depatuDate}}   
  </p>
  <p>
    Day of Operation: {{this.dayOfOperation}}   
  </p>
  <p>
     Capacity:    {{this.capacity}}  
  </p>
  
  <p>
    Aircraft Type:  <input type="text3" class="textBox2" #txt3>
    <button mat-raised-button color="primary" (click)="arType(txt3)">submit</button>  
  </p>
  
  <p>
    Arrivale Route:  {{this.arrivalRoute}}  
  </p>
  <p>
    Arrivale Time:   {{this.arrivalTime}} 
  </p>
  <p>
    Depture Time:   {{this.DepatureTime}} 
  </p>
  <p>
    Depture Route:    {{this.DepatureRoute}}
  </p>
  <p>
    Type of Flight:    {{this.typeOfFlight}}
  </p>
  <button  mat-raised-button color="primary" (click)="submitButton()" class="submitform">submit</button> 
  
</div>


<div class="homeemailPage">
   <p>
    Arrival Flight Number: {{this.tableDataArray[0]}}
  </p>
   
  <p>
     Departure Flight Number: {{this.tableDataArray[1]}}
  </p>
    
   <p>
     Arrival Date:   {{this.tableDataArray[2]}} 
   </p>
   <p>
     Depture Date: {{this.tableDataArray[3]}}   
   </p>
   <p>
     Day of Operation: {{countOperationday}}     
   </p>
   <p>
      Capacity:  {{this.tableDataArray[5]}}    
   </p>
   
   <p>
     Aircraft Type: {{this.tableDataArray[6]}}     
   </p>
   
   <p>
     Arrivale Route:  {{this.tableDataArray[7]}}  
   </p>
   <p>
     Arrivale Time:   {{this.tableDataArray[8]}}
   </p>
   <p>
     Depture Time:   {{this.tableDataArray[9]}} 
   </p>
   <p>
     Depture Route:    {{this.tableDataArray[10]}}
   </p>
   <p>
     Type of Flight:   {{this.tableDataArray[11]}}
   </p>
</div>

<!-- <router-outlet></router-outlet> -->